
.field{
	color: rgb(0,0,0) 
}

.actions{
   color: rgb(0,0,0) 
}

.actions a{
   color: rgb(0,0,0) 
}


#img_upload input{
  display: contents;
}


.form-container-outer{
border-radius: 25px;
background: #73AD21;
text-align:center;
height:60vh;	
background-color: white;
margin-top: 25%;
}

.form-container-inner-img{
	padding-top: 10%;
	display:inline-block;
}

.form-container-outer-img{
border-radius: 25px;
background: #73AD21;
text-align:center;
height:30vh;	
background-color: white;
margin-top: 25%;
}

.form-container-inner {
	padding-top: 10%;
	display:inline-block;
}

#upload-img{
	width: 20vw;
}

.actions a {
	color: rgb(0,0,0) !important;
}

.form-container-inner h2{
	color: black
}
