.field{
	color: rgb(0,0,0) 
}

.actions{
   color: rgb(0,0,0) 
}

.actions a{
   color: rgb(0,0,0) 
}

.width-30{
	width:30vw;
	height: 10vh;
}

.width-27vw{
	width:27vw;
	height: 7vh;
	margin-left: 4vw;
	
}


#img_upload input{
  display: contents;
}


.form-container-outer{
border-radius: 25px;
background: #73AD21;
text-align:center;
height:60vh;	
background-color: white;
margin-top: 25%;
}

.form-container-outer-img{
	border-radius: 25px;
	background: #73AD21;
	text-align:center;
	height: 51vh;
	background-color: white;
	margin-top: 25%;
}

.form-container-inner-img{
	padding-top: 10%;
	display:inline-block;
}

.image-description-box{
	background-color: white;
	 color: black; 
	 border-radius: 25px;
	 margin-top:1%; 
	 width: 100%;
	 padding-left: 10%; 
	 padding-right: 10%; 
	 text-align: center;
}

.margin-top-50{
	margin-top: 50%;
}
.margin-top-40{
	margin-top: 40%;
}
.margin-top-25{
	margin-top: 25%;
}


.form-container-inner {
	padding-top: 5%;
	display:inline-block;
}

#upload-img{
	width: 20vw;
}

.actions a {
	color: rgb(0,0,0) !important;
}

.form-container-inner h2{
	color: black
}



.thumbnail .img-responsive{
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
    
}
.panel {
	position:relative;
	background-color: white;
	color: black;
}

.panel-heading{
	background-color: #DCDCDC;
}

.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}